body {
    background-color: #D5E1EF; 
    height: 100vh; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin: 0;
    padding: 0 20px;
    box-sizing: border-box;
}
.qr-container {
    width: 100%; 
    max-width: 320px;
    height: 100%;
    max-height: 480px;
    background-color: white; 
    display: grid; 
    grid-template-rows: 1fr 1fr; 
    align-items: center; 
    border-style: none; 
    border-radius: 20px; 
    padding: 10px 15px 10px 15px;
}
.img-container {
    display: grid; 
    justify-content: center;
}
.qr-img {
    width: 100%; 
    max-width: 290px;
    border-radius: 10px;
}
.description-container {
    text-align: center;
}
.headline {
    font-family: "Outfit", sans-serif; 
    font-weight: 700; 
    font-size: 21px; 
    color: #1F314F
}
.description {
    font-family: "Outfit", sans-serif; 
    font-weight: 400; 
    font-size: 15px; 
    color: #68778D; 
    padding: 0px 8px 0px 8px;
}
.attribution { 
    position: absolute;
    inset-block-end: 0;
    padding-block-end: 1.25rem;
    font-size: 11px; 
    text-align: center; 
    margin: 0px;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media (min-width: 64em) {
    .qr-container{
        width: 280px; 
        height: 480px; 
        padding: 20px 25px; 
        grid-template-rows: 1.2fr 1fr;
    } 
    .qr-img{
        width: 280px; 
        height: 280px
    } 
    .headline {
        font-size: 21px;
    } 
    .description{
        font-size: 15px; 
        padding: 0px 8px 0px 8px;
    } 
    .attribution{
        font-size: 18px
    }
}